<!DOCTYPE html>
<html>
  <head>
    <title>Cats vs Dogs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/public/dc.css">
  </head>
  <body>
    <div id="cont">
        <div id="d">
            <h1 id="dt"></h1>
            <div>
                <img id="dfighter" src="public/trophy.jpeg" height="250">
            </div>
            <span id="db">
                
            </span>
        </div>
        <div>
          <div id="vis">
            <h1>DOGS WIN!!</h1>
            <img id="vs" src=<%= @winner %> height="250"/>
            <div>
            <button><a href="/">Play Again?</a></button>
            </div>
          </div>
        </div>
        <div id="c">
            <h1 id="ct"></h1>
            <div>
                <img id="cfighter" src="public/trophy.jpeg" height="250">
            </div>
            <span id="cb">
                
            </span>
        </div>
    </div>
</body>
</html>
