body {
  background-image: url(bg.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  width: fill;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}
