body {
  background-image: url(bg.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  width: fill;
  align-content: center;
  border-style: solid;
}

#cont {
  display: flex;
  justify-content: center;
}

#vis {
  text-align: center;
}

#db {
  display: flex;
  justify-content: center;
}

#cb {
  display: flex;
  justify-content: center;
}

#dt {
  display: flex;
  justify-content: center;
}

#ct {
  display: flex;
  justify-content: center;
}

#vs {
  margin-left: 50px;
  margin-right: 50px;
}
